
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>$ $ $ $ $ $</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Organizador</p>
            <li class="active">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Finanzas</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Gastos</a>
                        </li>
                        <li>
                            <a href="#">Ganancias</a>
                        </li>
                        <li>
                            <a href="#">Balance General</a>
                        </li>
                        <li>
                            <a >Categorias</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="#">Graficas</a>
            </li>
            <li>
            </li>
            <li>
                <a href="#">Calendario</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/monedas">Monedas</a>
            </li>
        </ul>
        <div class="sidebar-header">
            <h3>$ $ $ $ $ $</h3>
        </div>
    </nav>
